# ---------------------------------------------
# Dependências principais
# ---------------------------------------------
streamlit==1.39.0

# ---------------------------------------------
# Integração com IA (Hugging Face)
# ---------------------------------------------
huggingface_hub==0.20.3
requests==2.32.3

# ---------------------------------------------
# Utilidades
# ---------------------------------------------
python-dotenv==1.0.1
tqdm==4.66.5
